 *{
  padding: 0;
  margin: 0;
 }
 .ant-input-search-button{
background-color: #761455;
 }
 .padd-div{
padding: 40px 0px;
 }
 .hidd{
    overflow: hidden;
    width: auto;
     overflow-x: scroll;
 }
 .bor{
    border: solid 1px grey;
    border-radius: .2rem;
 }
 .ant-scroll-number-only-unit {
color: black;
 }
 @media(max-width: 1024px){
   .flexc{
    display: flex;
    flex-direction: column;
   }
 }
 @media(max-width: 768px){
    .hi{
        display: none;
    }
 }